name: Security Scan
on:
  schedule:
    - cron: 0 1 * * 6
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  security-scan:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          TRIVY_USERNAME: ${{ github.repository_owner }}
          TRIVY_PASSWORD: ${{ github.token }}
        with:
          image-ref: ghcr.io/${{ github.repository }}:latest
          ignore-unfixed: true
          vuln-type: os
          severity: CRITICAL,HIGH
          format: sarif
          output: trivy-results.sarif
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@d3ced5c96c16c4332e2a61eb6f3649d6f1b20bb8 # v3
        with:
          sarif_file: trivy-results.sarif
